@import "@fortawesome/fontawesome-free/css/all.css";
*{
    box-sizing: border-box;
}

html,
body{
    padding:0;
    margin:0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(217, 214, 214);
    
}

body{
   overflow: hidden;
}
//body::-webkit-scrollbar {  display: none; }
.container-all{
    display: flex;
    align-items: center;
    width: calc(100vw*5);
    height: calc(100vh*5);
    justify-content: space-between;
    padding:10% ;
    margin-right: 10%;
}

.container-gauche,
.container-central,
.container-droit{
      height: calc(100vh*4);
}

.container-gauche,
.container-droit{
    .page{
    margin-top: 35%;
    }
}

.page{
    height: 100vh;
    width: 100vw;
    margin-bottom: 20%;
    background-color:#fff;
}

.centrageTest{
    padding:25%;
    text-align: center;
}

 //--------- Menu fixe --------
.menu-fixe{
    position: fixed;
    color: #555;
    background-color:#e3edf7;  // #ecf1f3;
    font-size: 18px;
}

.menu-haut{
    z-index: 100;
    top:0;
    width: 100vw;
    height: 7vh;
    .liens-haut{
        display: flex;
        justify-content: space-between;
        width: 96vw;
        margin-top: 2vh;
        margin-left: 1.2vw;
        
        .lien-nom{
            margin-right: 8vw;
         }
    }
  }

.menu-gauche{
    z-index: 80;
    left:0;
    width: 3.6vw;
    height: 100vh;
    writing-mode: vertical-rl;
    text-orientation:mixed;
    .liens-gauche{
        display: flex;
        justify-content: space-around;
        height: 42vw;
        width: 6vh;
        margin-top: 8vh;
        margin-right: 0.1vw;           
    }
}

.menu-droite{
    z-index: 80;
    right: 0;
    width: 3.6vw;
    height: 100vh;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    .liens-droite{
        display: flex;
        justify-content: space-around;
        height: 42vw;
        width: 6vh;
        margin-top: 8vh;
        margin-right: 0.1vw; 
    }
}
.menu-bas{
    z-index: 100;
    bottom:0;
    width: 100vw;
    height: 7vh;
   
    .liens-bas{
        display: flex;
        justify-content: space-between;
        width: 64vw;
        margin-top: 0.9vh;
        margin-left: 17vw;
        //border: 1px solid red;
    }
}
// --------- Apparance boutton-------- 
a{
    text-decoration: none ;
    color:rgb(210, 155, 247);
}

a:hover{
    color: purple;
}

.liens-horizontal{
    height:40px;
    width:  11%;
    padding: 1%;
}

.liens-vertical{
    height:25%;
    width: 40px;
    padding: 1.2%;
}
.boutton{
   margin: 0 1%;
    border-radius: 8px;
    text-align: center;
    background-color:#e3edf7; //#ecf1f3
    box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15), 6px 6px 10px -1px rgba(255,255,255,0.7);
    border: 1px solid rgba(0,0,0,0);
    transition: transform 0.4s;
}

.boutton:hover{
   box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
    inset 4px 4px 6px -1px rgba(255,255,255,0.7),
   -0.5px -0.5px 0px  rgba(255,255,255,1),
   0.5px 0.5px 0px  rgba(0,0,0,0.15),
   0px 12px 10px -10px rgba(0,0,0,0.5);
   border: 1px solid rgba(0,0,0,0.01);
   transform: translate(2px);
   transform: scale(0.95);
}

// --------- Page: Accueil --------
.accueil{
     position: relative;

     .container-accueil{
        //border: 1px solid red;//=> soucis ---------
        display: flex;
        justify-content:  space-around;
        width: 75%;
        height: 90%;
        margin-left: 12.5%;
        margin-right: 12.5%;
        h1{
            font-size: 45px;
            text-align: right;      
        }
       .titre-developper,         
        .titre-graphiste{
          margin-top:30%;
          //border: 2px solid orchid;
          height: 10%;
        }
        
    }
}

.bloc-animation{
    //border:2px solid orange; //=> soucis ---------
    width: 55%;
   
    // Animation images :
    .picture-curtain {
        position: absolute;
        margin: 0 auto;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        width: 41%;
        height: 50%;
        overflow: hidden;
        //border: 1px solid green;
        
    
        div {
        position: absolute;
        width: 100%;
        height: 100%;
        //border: 1px solid blue;
        img{
            height: 100%;
            display: block;
        }
        }
    
        .foreground-picture-container {
        width: 49%;
        overflow: hidden;
        // border: 3px solid purple;
        }
    }
}

  



/* .graphiste{
   position: absolute;
    transform: translate(-50%,50%);
    top:50%;
    left:70%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100px;
    color: #e0e5eb;
    text-shadow:
    -8px -8px 12px rgba(255,255,255,0.4),
    8px 8px 12px rgba(0,0,0,0.09);
  */



    /*position: absolute;
    transform: translate(-50%,50%);
    top:60%;
    left:70%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100px;
    color: #ecf0f3;
    text-shadow:
    -9px -9px 14px #ffffff,
    9px 9px 14px #cbced1;*/



   /* position: relative;
    transform: translate(-50%,50%);
    top:10%;
    left:40%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100px;
    color: #fff;
    text-shadow: -10px 10px 20px rgba(0,0,0,0.1),
    -1px 1px 0px rgba(0,0,0,0.1);
  
}


.graphiste:hover{
    text-shadow: 1px -1px 0px rgba(0, 0, 0, 0.1);
    color: peru;
}*/
// --------- Autre --------

 

//-------------Page portefolio-graphisme-------------
.graphisme-portfolio{
    padding: 8%;
    display: flex;
    ul{
        list-style-type: none;
        text-align: left;
        li{
            font-size: 40px;
            margin-top : 1%;
            font-weight: bold;
        }
    }
    a{
        color:#e7c82f;
        text-decoration: none;
        &:hover{
            //text-decoration: underline;
            color: white;
            -webkit-text-stroke: 2px #e7c82f;
        }
    }
    .gallery-box{
        max-width:300px;
        //border:2px solid rgb(210, 155, 247);
        //position:relative;
        margin:auto;
        img{
            width: 100%;
            border:10px solid rgba(165, 149, 149, 0.2);
            box-sizing: border-box;
    
        }
    } 

}
.col{
    width: 55%;
    display: flex;
    //border:2px solid rgb(118, 189, 231)
}
.themes{
    width: 42%;
   // border:2px solid rgb(210, 155, 247);
    margin-right: 2%;
    margin-top:-1%;
    
}
.texte-themes{
    margin-top: 10%;
     width: 50%;
     margin-left: 50%;
   //  border:2px solid rgb(118, 189, 231)
   text-align: justify;

}