/* dependencies */
@import "@fortawesome/fontawesome-free/css/all.css";

/* local imports */
@import "./styles/accueil.scss";
@import "./styles/comptsDev.scss";
@import "./styles/portefolioDev.scss";
@import "./styles/comptsGraph.scss";
@import "./styles/portefolioGraph.scss";
@import "./styles/parcours.scss";
@import "./styles/contact.scss";

*{
    box-sizing: border-box;
}

html,
body{
    padding:0;
    margin:0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(217, 214, 214);
}

body{
   //overflow: hidden;
}
body::-webkit-scrollbar {  display: none; }

.container-all{
    display: flex;
    align-items: center;
    width: calc(100vw*5);
    height: calc(100vh*5);
    justify-content: space-between;
    padding:10% ;
    margin-right: 10%;
}


.container-gauche,
.container-central,
.container-droit{
      height: calc(100vh*4);
}

.container-gauche,
.container-droit{
    .page{
    margin-top: 35%;
    }
}

.page{
    height: 100vh;
    width: 100vw;
    margin-bottom: 20%;
    background-color:#fff;
}

.centrageTest{
    padding:11%;
}

 //--------- Menu fixe --------
.menu-fixe{
    position: fixed;
    color: #555;
    background-color:#e3edf7;  // #ecf1f3;
    font-size: 18px;
}

.menu-haut{
    z-index: 100;
    top:0;
    width: 100vw;
    height: 8vh;
    .liens-haut{
        display: flex;
        justify-content: space-between;
        width: 96vw;
        margin-top: 2vh;
        margin-left: 1.8vw;
        
        .lien-nom{
            margin-right: 8vw;
         }
    }
  }

.menu-gauche{
    z-index: 80;
    left:0;
    width: 5vw;
    height: 100vh;
    writing-mode: vertical-rl;
    text-orientation:mixed;
    .liens-gauche{
        display: flex;
        justify-content: space-around;
        height: 42vw;
        width: 6vh;
        margin-top: 8vh;
        margin-right: 0.6vw;           
    }
}

.menu-droite{
    z-index: 80;
    right: 0;
    width: 5vw;
    height: 100vh;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    .liens-droite{
        display: flex;
        justify-content: space-around;
        height: 42vw;
        width: 6vh;
        margin-top: 8vh;
        margin-right: 0.6vw; 
    }
}
.menu-bas{
    z-index: 100;
    bottom:0;
    width: 100vw;
    height: 9vh;
   
    .liens-bas{
        display: flex;
        justify-content: space-between;
        width: 64vw;
        margin-top: 1.8vh;
        margin-left: 17vw;
        //border: 1px solid red;
    }
}
// --------- Apparance boutton-------- 
a{
    text-decoration: none ;
    color:rgb(210, 155, 247);
}

/*
a:hover{
    color: purple;
}
*/

.liens-horizontal{
    height: 40px;
    width:  11%;
    padding: 1%;
}

.liens-vertical{
    height:25%;
    width: 40px;
    padding: 1.2%;
}
.boutton{
   margin: 0 1%;
   border-radius: 8px;
   text-align: center;
   background:  rgba(255,255,255,1);
   border: 2px solid #e3edf7;
   //background-color:#e3edf7; //#ecf1f3
   box-shadow: 5px 5px 7px 1px rgba(0,0,0,0.15), -5px -5px 7px 1px rgba(255, 255, 255, 0.814);
  // border: 1px solid rgba(0,0,0,0);
   transition: transform 0.4s;
}

.boutton:hover{
   box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
    inset 4px 4px 6px -1px rgba(255,255,255,0.7),
   -0.5px -0.5px 0px  rgba(255,255,255,1),
   0.5px 0.5px 0px  rgba(0,0,0,0.15),
   0px 12px 10px -10px rgba(0,0,0,0.5);
   border: 1px solid rgba(0,0,0,0.01);
   transform: translate(2px);
   transform: scale(0.95);
   a{
    transform: scale(0.95);
    color: rgb(237, 80, 211);
    //color: gold;

}
   
   
}

@media only screen and (max-width:420px){ // part de min-width: 400 = mobile puis on change...
    .menu-fixe{
        display: none;
    }

}