.accueil{
    padding: 8%;
    .container-accueil{
        border: 1px solid aqua;
        width: 82vw;
        height: 65vh;

        .mot-acceuil{
            height: 20vh;

        }
        
       .container-titres{
        display: flex;
        border: 1px solid red;
        height: 40vh;
        padding: 2%;
        align-items: center;
        padding-left: 25vw;

        .box-titre-code,.box-titre-graph{
           
            width: 16vw;
            height:  32vh;
            background-color: #e3edf7;
            border-radius: 50%;
            align-items: center;
            padding:auto;
            .titre-developper,.titre-graphiste{
                background-color: white;
                width: 13vw;
                height:  26vh;
                border-radius: 50%;
                margin: auto;
                margin-top: 9%;
                text-align: center;
                padding-top: 35%;
               
            }
        }
        .box-titre-graph{
            margin-left: -1vw;
        }
       }
    }
}