.graphisme-competence{
    padding: 7.5%;
    font-size:0.8rem;
    .container-compt-graph{
        display: flex;
        justify-content: space-between;
        width: 86.5vw;
        height: 65vh;

        .compt-box-gauche,.compt-box-droit{
            width: 25vw;
            padding-top: 3%;

            .card-competence{
                display: flex;
                justify-content: space-around;
                font-size: 1rem;
                
      
                .bord{
                    background-color:#e3edf7;
                    border-radius: 50%;
                    height:20vh ;
                    width: 10vw;
                   // padding:1rem;
                    box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6),  -9px -9px 16px rgba(255, 255, 255, 0.5);
                    margin-bottom: 12%; 
                    position: relative;   

                    .contour-img{
                        background-color: #e3edf7;
                        border-radius: 50%;
                        width: 8vw;
                        height: 16vh;
                        //margin-bottom: 10vh;
                        border: 1px solid rgba(202, 196, 196, 0.66) ;
                        box-shadow: inset 9px 9px 16px rgb(163, 177, 198, 0.6),
                        inset -9px -9px 16px rgba(255, 255, 255, 0.5),
                        6px 6px 8px rgb(163, 177, 198, 0.6),
                        -6px -6px 12px rgba(255, 255, 255, 0.5);;
                        position: absolute;
                        top:2vh;
                        left: 1vw;
                        position: relative;

                        .adobe{
                            width: 16vw;
                            border-radius: 50%;
                            //margin-top: 1.7vh;
                            width: 8.5vw;
                            height: 14vh;
                            position: absolute;
                            left: 0vw;
                            top: 1.6vh;
                        }
                    
                        .adobe-autre-taille{
                            position: absolute;
                            width: 16vw;
                            // border: 1px solid aqua;
                             border-radius: 50%;
                             //margin-top: 3.3vh;
                            // margin-left: 0.05vw;
                             width: 8vw;
                             height: 12vh;
                             left: 0vw;
                             top: 3.2vh;
                        }
                    }
                }
            }
        }

        .compt-box-gauche{
            padding-left: 4.5%;

            .bord-nom-office{
                margin: auto;
                width: 9vw;
                height: 6.5vh;
                margin-right: -11%;
                border-radius: 20px;
                background:#e3edf7;
                box-shadow:  -5px -5px 5px #ffffff73,6px 6px 5px rgba(94,104,121,0.200);
                position: relative;
               
                .p-office{
                    position: absolute;
                    top:-1vh;
                    left: 0.5vw;
                    width: 8vw;
                    height: 4vh;
                    text-align: center;
                    border-radius: 20px;
                    //margin: 0.5rem;
                    padding:0.5rem;
                    background: white;   
                    color:rgb(255,0,0);
                    box-shadow: inset 4px 4px 5px rgb(163, 177, 198, 0.6),
                    inset -4px -4px 9px rgba(255, 255, 255, 0.5);
                }             
            }
           
            
            .contour-office{
            background-color: #e3edf7;
            margin-left:33%;
            width: 6vw;
            height: 12vh;
            //padding:0.5rem;
            border-radius: 50px;
            position: relative;
    
                .style-office{
                    position: absolute;
                    top: 1vh;
                    left: 0.5vw;
                    background-color: #e3edf7;
                    width: 5vw;
                    height: 10vh;
                    //padding: 0.7rem;
                    border-radius: 50px;
                    box-shadow: inset 9px 9px 16px rgb(163, 177, 198, 0.6),
                    inset -9px -9px 16px rgba(255, 255, 255, 0.5),-5px -5px 5px #ffffff73,6px 6px 5px rgba(94,104,121,0.200);
                    position: relative;
                    .office{
                        position: absolute;
                        top:1.4vh;
                        left: 0.7vw;
                        width: 3.6vw;
                        background: white;
                        border-radius: 50%;
                        padding:7%;
                        border: 1px solid rgba(212, 209, 209, 0.893);
                    }
                }
            }
           
        }

        .compt-box-central{
            width: 32vw;
            align-items: center;

            h3{
                color: grey;
                text-align: center;
                font-size: 2.2rem;
                padding: 0;
                margin:0;
                margin-bottom: 8%;
            }

            .extérieur-contour-cmpt-centre{
            
                width: 32vw;
                height: 40vh;
                //padding: 0.9rem;
                background-color: #e3edf7;
                border-radius: 5px;
                margin:auto;
                position: relative;
                
                .contour-cmpt-centre{
                    position: absolute;
                    top: 2vh;
                    left: 1vw;
                    width: 30vw;
                    height: 36vh;
                    //padding: 0.8rem;
                    background-color: #e3edf7;
                    border-radius: 5px;
                    //margin:auto;
                    border:2px solid rgb(210, 155, 247);
                    box-shadow:  -5px -5px 5px #ffffff73,
                    inset -5px -5px 5px #ffffff73,
                    6px 6px 5px rgba(94,104,121,0.200), 
                    inset 6px 6px 5px rgba(94,104,121,0.200);
                    position: absolute;

                    .cmpt-centre{
                        position: absolute;
                        top:2vh;
                        left:0.8vw;
                        width: 28vw;
                        height: 32vh;
                        padding: 6% 0;
                        background-color: white;
                        //border-radius: 30px 5px 30px 5px;
                        border-radius: 5px;
                        box-shadow: 7px 7px 16px rgb(163, 177, 198, 0.6),
                        -7px -7px 16px rgba(255, 255, 255, 0.5);
    
                        ul{
                            list-style-type: circle;
                            li{
                                font-size: 0.8rem;
                                color:gray;
                                line-height: 2rem;
                            }
                        }
                    }
                }
        
            }
        }
        .compt-box-droit{
            margin-right: 2%;;
            padding-right: 4.5%;

            .bord-nom-fontforge{
                margin: auto;
                width: 9vw;
                height: 6.5vh;
                margin-left: -12%;
                border-radius: 20px;
                background:#e3edf7;
                box-shadow:  -5px -5px 5px #ffffff73,6px 6px 5px rgba(94,104,121,0.200);
                position: relative;

                .p-fontforge{
                    position: absolute;
                    top:-1vh;
                    left:0.5vw;
                    width: 8vw;
                    height: 4vh;
                    text-align: center;
                    border-radius: 20px;
                    //margin: 0.5rem;
                    padding:6%;
                    background: white;
                    box-shadow: inset 4px 4px 5px rgb(163, 177, 198, 0.6),
                    inset -4px -4px 9px rgba(255, 255, 255, 0.5);
                }             
            }

            .contour-fontforge{
                background-color: #e3edf7;
                margin-right:33.5%;
                width: 6vw;
                height: 12vh;
                //padding:0.5rem;
                border-radius: 50%;
                position: relative;

                .style-fontforge{
                    position: absolute;
                    top:1vh;
                    left: 0.5vw;
                    background-color: #e3edf7;
                    width: 5vw;
                    height: 10vh;
                    //padding: 0.5rem;
                    border-radius: 50%;
                    box-shadow: inset 9px 9px 16px rgb(163, 177, 198, 0.6),
                    inset -9px -9px 16px rgba(255, 255, 255, 0.5),
                    -5px -5px 5px #ffffff73,6px 6px 5px rgba(94,104,121,0.200);
                    position: relative;

                    .logo-fontforge{
                        position: absolute;
                        width: 4vw;
                        top:1vh;
                        left: 0.5vw;
                    }
                }
                
            }
        }
    }
    .systeme-exploition{
       //border: 1px solid red;
       display: table;
       margin: 0 auto;
       margin-top: 60px;
       font-size: 2rem;
       color:gray;
      

        .fa-apple{
            border-right: 2px solid gray;
            padding-right: 20px;
        }

        .fa-windows{
            margin-left: 20px;
        }
        // .trait{
        //     display: inline;
        //     background:gray;
        //     height: 4vh;
        //     width: 0.13vw;
        //     border-radius: 5rem;
        // }
    }
}

.bord-nom-d,.bord-nom-g{
    position: relative;
    .p-commun{
        position: absolute;
        top: -0.9vh;
        left:0.6vw;
        width: 8vw;
        height: 4vh;
        text-align: center;
        border-radius: 20px;
        //margin: 0.5rem;
        padding:6%;
        color:white;
    }
}

.bord-nom-g{
    margin: auto;
    width: 9vw;
    height: 6.5vh;
    border-radius: 20px;
    background:#e3edf7;
    box-shadow:  -5px -5px 5px #ffffff73,6px 6px 5px rgba(94,104,121,0.200);
   
    .p-illustrator{
        background: rgb(245, 150, 34);
        box-shadow: inset 4px 4px 7px rgba(216, 128, 27, 0.6),inset -5px -5px 8px rgba(242, 199, 55, 0.664);
    }
    .p-indesign{
        background: rgb(187,89,137);
        box-shadow: inset 4px 4px 7px rgba(139, 70, 101, 0.6),inset -5px -5px 6px rgba(224, 90, 126, 0.664);
    }
}

.bord-nom-d{
    margin: auto;
    width: 9vw;
    height: 6.5vh;
    border-radius: 20px;
    background:#e3edf7;
    box-shadow:  -5px -5px 5px #ffffff73,6px 6px 5px rgba(94,104,121,0.200);

    .p-photoshop{
        background: rgb(50,196,243);
        box-shadow: inset 4px 4px 7px rgba(10, 121, 157, 0.6),inset -5px -5px 6px rgba(64, 201, 247, 0.664);
    }
    .p-bridge{
        background: rgb(253,196,1);
        box-shadow: inset 4px 4px 7px rgba(186, 144, 1, 0.6),inset -5px -5px 6px rgba(238, 196, 56, 0.726);
    }
}


@media only screen and (max-width: 1460px) {

    .graphisme-competence{
      
        .container-compt-graph{    

            .compt-box-central{

                .extérieur-contour-cmpt-centre{
 
                    .contour-cmpt-centre{

                        .cmpt-centre{
                            padding: 4% 0;
                            
        
                            ul{
                                li{
                                    font-size: 0.8rem;
                                    line-height: 1.7rem;
                                }
                            }
                        }
                    }
                }
            
            }
        }
    }
}