.graphisme-competence{
    padding: 7rem;
    font-size:0.8rem;
    .container-compt-graph{
        display: flex;
        justify-content: space-between;
        width: 86.5vw;
        height: 65vh;

        .compt-box-gauche,.compt-box-droit{
            width: 25vw;
            padding-top: 5vh;

            .card-competence{
                display: flex;
                justify-content: space-around;
                font-size: 1rem;
      
                .bord{
                    background-color:#e3edf7;
                    border-radius: 50%;
                    height:20vh ;
                    width: 10vw;
                    padding:1rem;
                    box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6),  -9px -9px 16px rgba(255, 255, 255, 0.5);
                    margin-bottom: 5vh;    

                    .contour-img{
                        background-color: #e3edf7;
                        border-radius: 50%;
                        width: 8vw;
                        height: 16vh;
                        margin-bottom: 10vh;
                        border: 1px solid rgba(202, 196, 196, 0.66) ;
                        box-shadow: inset 9px 9px 16px rgb(163, 177, 198, 0.6),
                        inset -9px -9px 16px rgba(255, 255, 255, 0.5),
                        6px 6px 8px rgb(163, 177, 198, 0.6),
                        -6px -6px 12px rgba(255, 255, 255, 0.5);;

                        .adobe{
                            width: 16vw;
                            border-radius: 50%;
                            margin-top: 1.7vh;
                            width: 8.5vw;
                            height: 14vh;
                        }
                    
                        .adobe-autre-taille{
                            width: 16vw;
                            // border: 1px solid aqua;
                             border-radius: 50%;
                             margin-top: 3.3vh;
                            // margin-left: 0.05vw;
                             width: 8vw;
                             height: 12vh;
                        }
                    }
                }
            }
        }

        .compt-box-gauche{
            padding-left: 4vw;

            .bord-nom-office{
                margin: auto;
                width: 9vw;
                height: 6.5vh;
                margin-right: -2.3vw;
                border-radius: 20px;
                background:#e3edf7;
                box-shadow:  -5px -5px 5px #ffffff73,6px 6px 5px rgba(94,104,121,0.200);
               
                .p-office{
                    width: 8vw;
                    height: 4vh;
                    text-align: center;
                    border-radius: 20px;
                    margin: 0.5rem;
                    padding:0.5rem;
                    background: white;
                    color:rgb(255,0,0);
                    box-shadow: inset 4px 4px 5px rgb(163, 177, 198, 0.6),
                    inset -4px -4px 9px rgba(255, 255, 255, 0.5);
                }             
            }
           
            
            .contour-office{
            background-color: #e3edf7;
            margin-left: 7vw;
            width: 6vw;
            height: 12vh;
            padding:0.5rem;
            border-radius: 50px;
    
                .style-office{
                    background-color: #e3edf7;
                    width: 5vw;
                    height: 10vh;
                    padding: 0.7rem;
                    border-radius: 50px;
                    box-shadow: inset 9px 9px 16px rgb(163, 177, 198, 0.6),
                    inset -9px -9px 16px rgba(255, 255, 255, 0.5),-5px -5px 5px #ffffff73,6px 6px 5px rgba(94,104,121,0.200);
                    .office{
                        width: 3.6vw;
                        background: white;
                        border-radius: 50%;
                        padding:0.3rem;
                        border: 1px solid rgba(212, 209, 209, 0.893);
        
                    }
                }
            }
           
        }

        .compt-box-central{
            width: 32vw;
            align-items: center;

            h3{
                text-align: center;
                font-size: 2.2rem;
                padding: 0;
                margin:0;
                margin-bottom: 5vh;
            }

            .extérieur-contour-cmpt-centre{
                width: 32vw;
                height: 40vh;
                padding: 0.9rem;
                background-color: #e3edf7;
                border-radius: 5px;
                margin:auto;
                
                .contour-cmpt-centre{
                    width: 30vw;
                    height: 36vh;
                    padding: 0.8rem;
                    background-color: #e3edf7;
                    border-radius: 5px;
                    margin:auto;
                    border:2px solid rgb(210, 155, 247);
                    box-shadow:  -5px -5px 5px #ffffff73,
                    inset -5px -5px 5px #ffffff73,
                    6px 6px 5px rgba(94,104,121,0.200), 
                    inset 6px 6px 5px rgba(94,104,121,0.200);

                    .cmpt-centre{
                        width: 28vw;
                        height: 32vh;
                        padding: 2rem 0rem;
                        background-color: white;
                        //border-radius: 30px 5px 30px 5px;
                        border-radius: 5px;
                        box-shadow: 7px 7px 16px rgb(163, 177, 198, 0.6),
                        -7px -7px 16px rgba(255, 255, 255, 0.5);
    
                        ul{
                            list-style-type: circle;
                            li{
                                font-size: 0.84rem;
                                color:gray;
                                margin-bottom: 2.4vh;
                            }
                        }
                    }
                }
        
            }
        }
        .compt-box-droit{
            margin-right: 2rem;;
            padding-right: 4vw;

            .bord-nom-fontforge{
                margin: auto;
                width: 9vw;
                height: 6.5vh;
                margin-left: -2.5vw;
                border-radius: 20px;
                background:#e3edf7;
                box-shadow:  -5px -5px 5px #ffffff73,6px 6px 5px rgba(94,104,121,0.200);
               
                .p-fontforge{
                    width: 8vw;
                    height: 4vh;
                    text-align: center;
                    border-radius: 20px;
                    margin: 0.5rem;
                    padding:0.5rem;
                    background: white;
                    box-shadow: inset 4px 4px 5px rgb(163, 177, 198, 0.6),
                    inset -4px -4px 9px rgba(255, 255, 255, 0.5);
                }             
            }

            .contour-fontforge{
                background-color: #e3edf7;
                margin-right:7vw;
                width: 6vw;
                height: 12vh;
                padding:0.5rem;
                border-radius: 50%;

                .style-fontforge{
                    background-color: #e3edf7;
                    width: 5vw;
                    height: 10vh;
                    padding: 0.5rem;
                    border-radius: 50%;
                    box-shadow: inset 9px 9px 16px rgb(163, 177, 198, 0.6),
                    inset -9px -9px 16px rgba(255, 255, 255, 0.5),
                    -5px -5px 5px #ffffff73,6px 6px 5px rgba(94,104,121,0.200);
                    .logo-fontforge{
                        width: 4vw;
                    }
                }
                
            }
        }
    }
    .systeme-exploition{
       margin-top: 4rem;;
       text-align: right;
       font-size: 2rem;
       color:gray;
       display: flex;
       padding: auto;
       padding-left: 12vw;

        i{
            margin-right: 1vw;
            margin-left: 1vw;
        }
        .trait{
            background:gray;
            height: 4vh;
            width: 0.13vw;
            border-radius: 5rem;
        }
    }
}

.bord-nom-d,.bord-nom-g{
    .p-commun{
        width: 8vw;
        height: 4vh;
        text-align: center;
        border-radius: 20px;
        margin: 0.5rem;
        padding:0.5rem;
        color:white;
    }
}

.bord-nom-g{
    margin: auto;
    width: 9vw;
    height: 6.5vh;
    border-radius: 20px;
    background:#e3edf7;
    box-shadow:  -5px -5px 5px #ffffff73,6px 6px 5px rgba(94,104,121,0.200);
   
    .p-illustrator{
        background: rgb(245, 150, 34);
        box-shadow: inset 4px 4px 7px rgba(216, 128, 27, 0.6),inset -5px -5px 8px rgba(242, 199, 55, 0.664);
    }
    .p-indesign{
        background: rgb(187,89,137);
        box-shadow: inset 4px 4px 7px rgba(139, 70, 101, 0.6),inset -5px -5px 6px rgba(224, 90, 126, 0.664);
    }
}

.bord-nom-d{
    margin: auto;
    width: 9vw;
    height: 6.5vh;
    border-radius: 20px;
    background:#e3edf7;
    box-shadow:  -5px -5px 5px #ffffff73,6px 6px 5px rgba(94,104,121,0.200);

    .p-photoshop{
        background: rgb(50,196,243);
        box-shadow: inset 4px 4px 7px rgba(10, 121, 157, 0.6),inset -5px -5px 6px rgba(64, 201, 247, 0.664);
    }
    .p-bridge{
        background: rgb(253,196,1);
        box-shadow: inset 4px 4px 7px rgba(186, 144, 1, 0.6),inset -5px -5px 6px rgba(238, 196, 56, 0.726);
    }
}