.pgContact{
    // padding: 5rem  4.6rem 5rem 6rem;
    color: grey;
    position: relative;
    
    .interContact{
        position: absolute;
        top: 10.5%;
        left:6.3%;
        background-color:#e3edf7;
        border-radius:10px ;
        width: 87.5vw;
        height: 78vh;
        padding:5.5% 8%;
        box-shadow: inset -4px -4px 5px #ffffff73, inset  7px 7px 5px rgba(94,104,121,0.200);
      

        .container-pg-contact{
            display: flex;
            justify-content: space-between;
           // background-color:#dde1e7;
           
            .formulaire{
                //border: 1px solid red;
                //margin-left: 2%;
                border-radius:10px ;
                width: 24vw;;
                padding: 0  2.8%  2%  2.8%;
                box-shadow: -5px -5px 5px #ffffff73,6px 6px 5px rgba(94,104,121,0.200);
                
                h3{
                   font-size: 2.1rem;
                   text-align: center;
                }
        
                .col{
                    width: 100%;
                    //color: grey;
                    margin-top: 4.5%;
                    
                        input, textarea{
                            margin-top: 3%;
                            border :none;
                            border-radius: 5px;
                            width: 20vw;
                            outline-color: rgb(210, 155, 247);  
                        }

                        input{
                           height: 3vh;
                        }

                        textarea{
                            width: 20vw;
                            height: 10vh;
                        }
                        
                        .btn-envoyer{
                            color:gray;
                            display: block;
                            border-radius: 40px;
                            height: 6vh;
                            width: 6vw;
                            font-size: 1.4rem;
                            justify-content: center;
                            align-items: center;
                            margin: auto;
                            
                            display: flex;
                            box-shadow: -4px -4px 5px rgba(255, 255, 255, 0.907),6px 6px 5px rgba(50, 55, 65, 0.2);
                            overflow: hidden;
                            outline: none;
                            border: none;
                            transition: transform 0.4s;
                        }

                    .btn-envoyer:hover{
                        
                        box-shadow:  inset -5px -5px 5px rgba(255, 255, 255, 0.907),
                        inset  7px 7px 5px rgba(94,104,121,0.200);    
                        transform: scale(0.95);
                        color:rgb(210, 155, 247);
                        
                        .btn-envoyer{
                            font-size: 1rem;
                        }
                            
                    }
                   
                }
            }
            .containerDroit{
                //border: 1px solid red;
                width: 40vw;
                //height: 56.5vh;
                padding:4%;
                
                .box-info{
                    //border: 1px solid red;
                    border-radius: 15px;
                    box-shadow:  -5px -5px 5px #ffffff73, inset -5px -5px 5px #ffffff73, 7px 7px 5px rgba(94,104,121,0.200), inset 7px 7px 5px rgba(94,104,121,0.200);
                    //height: 19vh;
                    width: 34vw;
                    padding: 1rem;
                    margin-bottom: 4vh;

                    .infos{
                        //border: 1px solid red;
                        width: 32;
                        //height: 15vh;
                        background-color: white;
                        border-radius:10px ;
                        color:grey;
                        padding:4% 2%;
                        text-align: center;
                        
                    }
                }
                
                .box-liens{
                 //   border: 1px solid red;                           
               // width: 32vw;
                height: 19vh;
                padding: 4% 14%;
                border-radius: 15px;
                //box-shadow:  -5px -5px 5px #ffffff73, inset -5px -5px 5px #ffffff73, 7px 7px 5px rgba(94,104,121,0.200), inset 7px 7px 5px rgba(94,104,121,0.200);
                        
                    .liens{
                        display: flex;
                        width: 24vw;
                        height: 14vh;
                        //border: 1px solid red;
                        justify-content: space-between;
                        font-size: 3.5rem;

                        button{
                           //border: 1px solid red;
                           // padding:5%;
                            width: 5.5vw;
                            border: none;
                            background-color: #e3edf7;
                            box-shadow: -5px -5px 5px #ffffff73,6px 6px 5px rgba(94,104,121,0.200);
                            overflow: hidden;
                            outline: none;
                            border-radius: 16px;
                            transition: transform 0.4s;
                           
                            img{
                            width: 2.8vw;
                           // transition: transform 0.3s;
                            }

                            i{
                                //color: grey;
                                font-size: 3rem;
                                //transition: transform 0.3s;
                                //color:black;
                            }         
                        }
                        button:hover{
                        box-shadow:  inset -5px -5px 5px #ffffff73,
                        inset  7px 7px 5px rgba(94,104,121,0.200);
                        transform: scale(0.95);
                        

                        img{
                           // width: 2.7vw;
                           transform: scale(0.97);
                           background: rgb(216, 163, 252);
                        }

                        i{
                           // font-size: 2.9rem;
                           transform: scale(0.97);
                           //color:orange;
                          //color:purple;
                          color:rgb(210, 155, 247);
                        }
                        }
                    }
                    
                }
                
            }
        }
        
    }

}