.pgContact{
    padding: 5rem  4.6rem 5rem 6rem;
    
    .interContact{
        background-color:#e3edf7;
        border-radius:10px ;
        width: 87.5vw;
        height: 78vh;
        padding:6rem;
        box-shadow: inset -4px -4px 5px #ffffff73, inset  7px 7px 5px rgba(94,104,121,0.200);
      

        .container-pg-contact{
            display: flex;
            justify-content: space-between;
           // background-color:#dde1e7;
           
            .formulaire{
                //border: 1px solid red;
                margin-left: 3rem;
                border-radius:10px ;
                width: 25svw;;
                padding: 0rem 2rem;
                box-shadow: -5px -5px 5px #ffffff73,6px 6px 5px rgba(94,104,121,0.200);
                
                h3{
                   font-size: 2rem;
                  text-align: center;
                }
        
                .col{
                    width: 100%;
                    color: grey;
                    margin-top: 1rem;
                   
                        .texte{
                        margin-bottom: 1rem;
                        
                        }
                        input, textarea{
                            margin-top: 0.5rem;
                            border :none;
                            border-radius: 5px;
                            width: 20vw;
                            outline-color: rgb(210, 155, 247);  
                        }

                        input{
                           height: 3vh;
                        }

                        textarea{
                            width: 20vw;
                            height: 10vh;
                        }
                        
                        .btn-envoyer{
                            color:gray;
                            display: block;
                            border-radius: 40px;
                            height: 6vh;
                            width: 6vw;
                            font-size: 1.4rem;
                            justify-content: center;
                            align-items: center;
                            margin: auto;
                            display: flex;
                            box-shadow: -4px -4px 5px rgba(255, 255, 255, 0.907),6px 6px 5px rgba(50, 55, 65, 0.2);
                            overflow: hidden;
                            outline: none;
                            border: none;
                            transition: transform 0.4s;
                        }

                    .btn-envoyer:hover{
                      
                        box-shadow:  inset -5px -5px 5px rgba(255, 255, 255, 0.907),
                        inset  7px 7px 5px rgba(94,104,121,0.200);
                       
                        transform: scale(0.95);
                        color:rgb(210, 155, 247);
                        

                        .btn-envoyer{
                            font-size: 1rem;
                        }
                            
                    }
                   
                }
            }
            .containerDroit{
               // border: 1px solid red;
                width: 40vw;
                padding:3rem;
                
                .box-info{
                    border-radius: 15px;
                    box-shadow:  -5px -5px 5px #ffffff73,
                    inset -5px -5px 5px #ffffff73,
                    7px 7px 5px rgba(94,104,121,0.200), 
                    inset 7px 7px 5px rgba(94,104,121,0.200);
                    height: 20vh;
                    padding: 1rem;
                    margin-bottom: 4vh;

                    .infos{
                        //border: 1px solid red;
                        width: 31.5vw;
                        height: 16vh;
                        background-color: white;
                        border-radius:10px ;
                        color:grey;
                        padding-top:1rem;
                        text-align: center;
                        
                    }
                }
                
                .box-liens{
                            
                width: 32rem;
                height: 19vh;
                padding: 1.2rem  4rem;
                border-radius: 15px;
                //box-shadow:  -5px -5px 5px #ffffff73, inset -5px -5px 5px #ffffff73, 7px 7px 5px rgba(94,104,121,0.200), inset 7px 7px 5px rgba(94,104,121,0.200);
                        
                    .liens{
                        display: flex;
                        width: 24vw;
                        height: 14vh;
                        //border: 1px solid red;
                        justify-content: space-between;
                        font-size: 3.5rem;

                        button{
                            //border: 1px solid red;
                            padding:1rem;
                            width: 5.5vw;
                            border: none;
                            background-color: #e3edf7;
                            box-shadow: -5px -5px 5px #ffffff73,6px 6px 5px rgba(94,104,121,0.200);
                            overflow: hidden;
                            outline: none;
                            border-radius: 16px;
                            transition: transform 0.4s;
                           
                           
            
                            img{
                            width: 2.8vw;
                           // transition: transform 0.3s;
                            }

                            i{
                                font-size: 3rem;
                                //transition: transform 0.3s;
                                color:black;
                            }         
                        }
                        button:hover{
                        box-shadow:  inset -5px -5px 5px #ffffff73,
                        inset  7px 7px 5px rgba(94,104,121,0.200);
                        transform: scale(0.95);
                        

                        img{
                           // width: 2.7vw;
                           transform: scale(0.97);
                           color:purple;
                        }

                        i{
                           // font-size: 2.9rem;
                           transform: scale(0.97);
                           //color:orange;
                          //color:purple;
                          color:rgb(210, 155, 247);
                        }
                        }
                    }
                    
                }
                
            }
        }
        
    }

}