.pgParcours{
    padding: 8% ;
    //position: relative;
    display: flex;
    justify-content: space-evenly;
    color: gray;
    

    .imgParcours{
    //border: 1px solid red;
    width: 40vw;
    }

    .container-parcours{
       //  border: 1px solid red;
        width: 25vw;
        .parcour{
         // border: 1px solid aqua;
         margin-top: 7%;
         h3{
            margin-left: -42%;
            margin-bottom:-5px;
              .dates{
                margin-right: 65px;
               }
               .dateCESS{
                 margin-right: 111px;
                }  
            }    
        }
        
    }

    .box-aide-emploi{
        // border: 1px solid red;
        width: 25.5vw;
        position: absolute;
        right:36.7vw ;

        h4{
            text-align: center;
            padding-right: 0.8vw;
        }

        .aide-emploi{
            display: flex;
            padding: 0vh 2vw;
            a{
                color:gray;
            }
            a:hover{
                color:rgb(210, 155, 247);
            }
           
            .trait{
                background:gray;
                height: 3vh;
                width: 0.1vw;
                border-radius: 5%;
                margin:0vh 0.8vw;
            }
        }
    }
}