 .web-developper-portfolio{
   padding:10% 7%;

   .container-portfolio-dev{
     display: flex;
     justify-content: space-evenly;

      .github-img{
        margin-right: -17vw;
        margin-top: 6vh;
    
        img{
          cursor: pointer;
          width: 50vh;
          border-radius: 500px;
          padding: 1%;
        }
      }
 
     .box-style{    
       width: 40vw;
       height: 62vh;
       padding: 3%;
       border-radius: 10px;
       border: 5px solid #e3edf7;
       box-shadow: inset -4px -4px 5px #ffffff73, inset  7px 7px 5px rgba(94,104,121,0.200);
       background: #e3edf7;//linear-gradient( to left,  #e3edf7 13%,#F59ABD );
       position: relative;

        .projets{
        width: 380px;
        height: 44vh;
        margin: auto;
        display: none;
        border-radius: 16px;
        background-color: white;
        border: 2px solid #e3edf7;
        padding: 6%;
        box-shadow: -4px -4px 5px #ffffff73, 7px 7px 5px rgba(94, 104, 121, 0.2);
        position: relative;
        
        .status{
          color: gray;

        }
         img{
          display: block;
          margin: auto;
          width: 115px;
          border-radius: 10px;
          margin-bottom: 18px; 
          }
          

          h3{
            margin-bottom: -1px;
          }

         .introProjet{
          font-size: 0.9rem;
          }

          .fond-btn{
            position: absolute;
            width: 52px;
            height: 52px;
            background: #e3edf7;          
            border-radius: 50px;
            box-shadow: inset -4px -4px 5px #ffffff73, inset  7px 7px 5px rgba(94,104,121,0.200);
            padding:1.8%;
            bottom: 15px;

            .btn-github,
            .btn-cahier,
            .btn-voir{
              position: absolute;
              width: 38px;
              height: 38px;
              transition: 0.6s ease;
              border-radius: 50px;
              box-shadow: -5px -5px 5px #ffffff73, 2px 7px 6px rgba(50, 55, 65, 0.2);
              overflow: hidden;
              outline: none;
              border: none;
              background-color: white;
            }

            .btn-github{
              padding: 1.5% 1.8%;
              font-size: 1.6rem;
            }

            .btn-cahier{
              font-size: 1.2rem;

            }

            .btn-voir{
              padding-top: 1%;
              font-size: 1.2rem;

            }

            .btn-github:hover,
            .btn-cahier:hover,
            .btn-voir:hover{
              box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2), inset 4px 4px 6px -1px rgba(255,255,255,0.7),
              -0.5px -0.5px 0px  rgba(255,255,255,1),  0.5px 0.5px 0px  rgba(0,0,0,0.15), 0px 12px 10px -10px rgba(0,0,0,0.5);
              transform: scale(0.95);
              i{
                //color:#F59ABD;
                color: rgb(237, 80, 211);
              }
            }
          }
          .btn-un{
            right: 15px;
          }
          .btn-deux{
            right: 78px;
          }
        }
       #retour,
       #suivant {
        cursor: pointer;
        position: absolute;
        top: 44%;
        color: gray;
        font-size: 2rem;
        transition: 0.6s ease;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        padding-top: 2px;
        text-align: center;
        background-color: white;//#e3edf7;// rgba(172, 170, 170, 0.3);
        border: 2px solid white;
        justify-content: center;
        align-items: center;
        box-shadow: -5px -5px 5px #ffffff73,6px 6px 5px rgba(50, 55, 65, 0.2)       
     
        }
        #suivant {
          right: 40px;
        }
        #retour {
          left: 40px;
        }
        #retour:hover,
        #suivant:hover {
          color: rgb(237, 80, 211);
          box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2), inset 4px 4px 6px -1px rgba(255,255,255,0.7),
          -0.5px -0.5px 0px  rgba(255,255,255,1),  0.5px 0.5px 0px  rgba(0,0,0,0.15), 0px 12px 10px -10px rgba(0,0,0,0.5);
         background-color: white;
//         // transform: translate(2px);
         transform: scale(0.95);
         font-size: 1.8rem;
         padding-top: 4px;
        }

      }
     .box-puces{
      //border: 1px solid red;
        margin: auto;
        width: 235px;
        height: 42px;
        background-color: white;
        border-radius: 50px;
        box-shadow: inset -4px -4px 5px #ffffff73, inset  7px 7px 5px rgba(94,104,121,0.200);
        border: 2px solid white;
        position: relative;

        .puces{
          position: absolute;
          bottom:-15px;
          left:20px;

          .puce {
            cursor: pointer;
            color: #bbb;
            font-size: 3.5rem;
            display: inline-block;
           
  //          /* // transition: background-color 0.6s ease; */
          }
          .active,
          .puce:hover {
            color: rgb(237, 80, 211);
          }

        }
    }
      
    }
  }

  .d-none {
    display: none;
  }